.table-wrapper {
    background-color: #f4f7fc;
    height: 80vh;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

.table-container {
    padding: 10px;
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
}

thead {
    background-color: #f4f7fc;
    position: sticky;
}
thead th:first-child {
    border-radius: 10px 0 0 10px;
}

thead th:last-child {
    border-radius: 0 10px 10px 0;
}
th,
td {
    text-align: left;
    padding: 10px;
    width: 400px;
}

th {
    margin-top: 10px;
}
.details-btn {
    background-color: #275a53;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.details-btn:hover {
    background-color: #93aca9;
}

@media screen and (max-width: 576px) {
    .table-container {
        min-width: 980px;
    }
    th,
    td {
        width: 170px;
    }
}
