* {
  margin: 0;
  padding: 0;
}

.no__display {
  display: none;
}

@media only screen and (min-width: 769px) {
  .login {
    margin-top: 10vh;
    min-height: 100vh;
  }
  .login .login__input {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 70vh;
    border: 1px solid black;
  }
  .login .login__input h2 {
    padding-top: 37px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .login .login__input input[type=email], .login input[type=password] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid gray;
  }
  .login .login__input input[type=submit] {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #275A53;
  }
  .login .login__input input:focus {
    outline: none;
    border-bottom: 2px solid #8787f6;
  }
  .login .input__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .login .input__checkbox p {
    color: #275A53;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 0 !important;
  }
  .login .login__input p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 38px;
  }
  .login .login__input span {
    cursor: pointer;
    color: #275A53;
    text-decoration: underline;
  }
  .login .divider {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
    font-weight: 500;
    font-size: 20px;
  }
  .login .divider__line {
    width: 45%;
    height: 1px;
    border-bottom: 1px solid grey;
  }
  .sign-up {
    min-height: 100vh;
    margin-top: 10vh;
  }
  .sign-up .sign-up__input {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 70vh;
    border: 1px solid black;
  }
  .sign-up .sign-up__input h2 {
    padding-top: 37px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .sign-up .sign-up__input input[type=text], .sign-up input[type=tel], .sign-up input[type=email], .sign-up input[type=password] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid gray;
  }
  .sign-up .sign-up__input input[type=submit] {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #275A53;
  }
  .sign-up .sign-up__input input:focus {
    outline: none;
    border-bottom: 2px solid #8787f6;
  }
  .sign-up .divider {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
    font-weight: 500;
    font-size: 20px;
  }
  .sign-up .divider__line {
    width: 45%;
    height: 1px;
    border-bottom: 1px solid grey;
  }
  .sign-up .sign-up__input p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 38px;
  }
  .sign-up .sign-up__input span {
    color: #275A53;
    text-decoration: underline;
    cursor: pointer;
  }
  .alt-login #google {
    cursor: pointer;
    width: 35%;
    height: 51px;
    border: 1px solid black;
    border-radius: 57px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .alt-login #facebook {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-align: center;
    width: 35%;
    height: 51px;
    border: 1px solid black;
    border-radius: 57px;
    margin-top: 9px;
    margin-bottom: 93px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .login {
    margin-top: 10vh;
    min-height: 100vh;
  }
  .login .login__input {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 70vh;
    border: 1px solid black;
  }
  .login .login__input h2 {
    padding-top: 37px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .login .login__input input[type=email], .login input[type=password] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid gray;
  }
  .login .login__input input[type=submit] {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #275A53;
  }
  .login .login__input input:focus {
    outline: none;
    border-bottom: 2px solid #8787f6;
  }
  .login .input__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .login .input__checkbox p {
    color: #275A53;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 0 !important;
  }
  .login .login__input p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 38px;
  }
  .login .login__input span {
    cursor: pointer;
    color: #275A53;
    text-decoration: underline;
  }
  .login .divider {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
    font-weight: 500;
    font-size: 20px;
  }
  .login .divider__line {
    width: 45%;
    height: 1px;
    border-bottom: 1px solid grey;
  }
  .sign-up {
    min-height: 100vh;
    margin-top: 10vh;
  }
  .sign-up .sign-up__input {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 70vh;
    border: 1px solid black;
  }
  .sign-up .sign-up__input h2 {
    padding-top: 37px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .sign-up .sign-up__input input[type=text], .sign-up input[type=tel], .sign-up input[type=email], .sign-up input[type=password] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid gray;
  }
  .sign-up .sign-up__input input[type=submit] {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 81%;
    height: 45px;
    margin-bottom: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #275A53;
  }
  .sign-up .sign-up__input input:focus {
    outline: none;
    border-bottom: 2px solid #8787f6;
  }
  .sign-up .divider {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
    font-weight: 500;
    font-size: 20px;
  }
  .sign-up .divider__line {
    width: 45%;
    height: 1px;
    border-bottom: 1px solid grey;
  }
  .sign-up .sign-up__input p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 38px;
  }
  .sign-up .sign-up__input span {
    color: #275A53;
    text-decoration: underline;
    cursor: pointer;
  }
  .alt-login #google {
    cursor: pointer;
    width: 65%;
    height: 51px;
    border: 1px solid black;
    border-radius: 57px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .alt-login #facebook {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-align: center;
    width: 65%;
    height: 51px;
    border: 1px solid black;
    border-radius: 57px;
    margin-top: 9px;
    margin-bottom: 93px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=Login.css.map */